<html>
<body>

    <div class="row">
        <p>Restaurant ID:  <% if (typeof (item.restaurantID) !== "undefined") { %><%= item.restaurantID %><% } %></p><br>
        <p>Restaurant Name:  <% if (typeof (item.name) !== "undefined") { %><%= item.name %><% } %></p><br>
        <p>Borough:  <% if (typeof (item.address.borough) !== "undefined") { %><%= item.address.borough %><% } %></p><br>
        <p>Street:  <% if (typeof (item.address.street) !== "undefined") { %><%= item.address.street %><% } %></p><br>
        <p>Restaurant Telephone:  <% if (typeof (item.phone) !== "undefined") { %><%= item.phone %><% } %></p><br>
        <p>Cuisine:  <% if (typeof (item.cuisine) !== "undefined") { %><%= item.cuisine %><% } %></p><br>
        <p>Description:  <% if (typeof (item.description) !== "undefined") { %><%= item.description %><% } %></p><br>
    </div>
        <a href="/edit?_id=<%= item._id %>" >Update the information</a><br><br>
        <a href="/delete?_id=<%= item._id %>&owner=<%= item.ownerID %>">Delete the information</a><br><br>
        <a href="/home">Home</a>

</body>
</html>
