<html >
<body>
    <div>
        <h1>Update Restaurant Information</h1>
        
    <form action="/update" method="POST">

    <label for="shopping_cart_id" value="item.sc_id"><b>Shopping cart ID*: <%= item.sc_id %></b></label><br><br>
    
    <input type="hidden" id="postId" name="postId" value="<%= item.sc_id %>" />
     
    <label for="item"><b>Item*:</b></label>
    <input type="text" id="item" name="item" class="form-control" placeholder="" value= "<% if (item.name) { %><%= item.item %><% } %>" /><br><br>
                
    <label for="quantity"><b>Quantity:</b></label>
    <input type="text" id="quantity" name="quantity" class="form-control" placeholder="" value ="<% if (item.quantity) { %><%= item.address.borough %><% } %>" /><br><br>

    <label for="price"><b>Price:</b></label>
    <input type="text" id="price" name="price" class="form-control" placeholder="" value ="<% if (item.price) { %><%= item.price %><% } %>" /><br><br>
                
                
    <input type="submit" value="update">
    
</body>
</html>

